<!DOCTYPE idea-plugin PUBLIC "Plugin/DTD" "http://plugins.intellij.net/plugin.dtd">
<idea-plugin url="http://www.codebrewer.org/idea/dilbert/" version="2">
  <name>Dilbert Daily Strip</name>
  <id>Dilbert</id>
  <description>Displays the cartoon strip of the day from the dilbert.com website.</description>
  <version>##PLUGIN_VERSION##</version>
  <vendor email="mark@codebrewer.org" logo="/dilbert16x16.png" url="http://www.codebrewer.org/">Codebrewer</vendor>
  <change-notes>
    <![CDATA[<ul>
<li>Fix: Any anticipated exception caught when downloading the strip results in an 'error' image being displayed rather than the exception being reported to IDEA's log.</li>
<li>Fix: Help system typos corrected.</li>
<li>New: The 'About' window can now be dismissed with the Esc key, removing any dependency at all on the mouse.</li>
<li>New: IDEA's HTTP proxy settings are honoured.</li>
</ul>
]]>
  </change-notes>
  <idea-version since-build="##IDEA_VERSION##" />
  <extensions xmlns="com.intellij">
    <errorHandler implementation="org.codebrewer.idea.dilbert.util.DilbertErrorReportSubmitter" />
  </extensions>
  <application-components>
    <component>
      <implementation-class>org.codebrewer.idea.dilbert.DilbertDailyStripPluginImpl</implementation-class>
      <interface-class>org.codebrewer.idea.dilbert.DilbertDailyStripPlugin</interface-class>
    </component>
  </application-components><helpset file="DilbertDailyStripHelp.jar" path="/dilbert.hs" />
</idea-plugin>