a { 
   font-family:verdana; 
   font-size:13; 
   color:#005555; 
   font-weight:bold;  }
a.context { 
           font-family:verdana; 
           font-size:12; 
           color:#993300; 
           font-weight:bold;  }
.mainheader { 
             font-family:verdana; 
             font-size:15; 
             color:#ffffcc; 
             font-weight:bold;  }
.orangeb { 
          font-family:verdana; 
          font-size:14; 
          color:#cc6600; 
          font-weight:bold;  }
.tableheader { 
              font-family:verdana;
              color:#ffffff; 
              font-size:13;
              font-weight:bold;  }
.ideakey { 
          font-family:arial; 
          color:#333333; 
          font-size:11; 
          font-style:italic;  }
.ideakeysmall { 
               font-family:arial; 
               color:#333333; 
               font-size:10; 
               font-style:italic;  }
.ideabutton { 
             font-family:arial; 
             color:#000000; 
             font-size:11; 
             background:#cccccc;  }
.ideawindowname { 
                 font-family:verdana; 
                 color:#ffffff; 
                 font-size:11; 
                 background:#333366; 
                 font-weight:bold;  }
.detailedtext { 
               font-family:verdana; 
               color:#005555; 
               font-size:12; 
               font-weight:bold;  }
.green { 
        font-family:verdana; 
        color:#006666; 
        font-size:12;  }
.note { 
       font-family:verdana; 
       color:#000000; 
       font-size:11;  }
.red { 
      font-family:verdana; 
      color:#cc0000; 
      font-size:9; 
      font-weight:bold;  }
.orange { 
         font-family:verdana; 
         color:#cc6600; 
         font-size:12;  }
.header { 
         font-family:verdana; 
         color:#006666; 
         font-size:14; 
         font-weight:bold;  }
.detailedbrown { 
                font-family:verdana; 
                color:#993300; 
                font-size:12; 
                font-weight:bold;  }
.bold { 
       font-weight:bold; 
       font-size:13;  }
font { 
      font-family:verdana; 
      color:#000000; 
      font-size:12;  }
td { 
    font-family:verdana; 
    color:#000000; 
    font-size:12;  }
.intellij { 
           font-family:verdana; 
           color:#003399; 
           font-weight:bold; 
           font-size:12;  }
.idea { 
       font-family:verdana; 
       color:#3366cc; 
       font-weight:bold; 
       font-size:12;  }
a.notelink { 
            font-family:verdana; 
            color:#993300; 
            font-weight:bold; 
            font-size:11;  }
.notebold { 
           font-family:verdana; 
           color:#005555; 
           font-weight:bold; 
           font-size:11;  }
.contextcode { 
              font-weight:bold;  }
div.indentlist { 
                margin-left:18px;  }
ul { 
    margin-top:8px; 
    list-style-image:url(images/secondary/markerL2.gif); 
    list-style-position:outside;  }
ol { 
    margin-top:8px; 
    list-style-position:outside; 
    list-style-type:decimal;  }
li { 
    margin:0px 0px 2px 8px;  }
